src/main/mule/invoicessftp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:listener-config name="invoicessftp-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="invoicessftp-config" api="resource::4e7e9d23-3711-4be5-a59f-f45b7e8b0531:invoicessftp:1.0.0:raml:zip:invoicessftp.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="invoicessftp-main">
        <http:listener config-ref="invoicessftp-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase="#[vars.ReasonPhrase]">
                <http:body><![CDATA[#[output application/json --- vars.ErrorMessage]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="invoicessftp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="invoicessftp-console">
        <http:listener config-ref="invoicessftp-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="invoicessftp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\invoices:invoicessftp-config">
		<set-variable value="#[attributes.queryParams.currency default '']" doc:name="Currency" doc:id="310671a9-45dc-40fc-b24b-47d4766b4903" variableName="Currency"/>
		<validation:matches-regex doc:name="Validate Query Params" doc:id="ce2fb39a-6506-497e-96e9-8f3394cb3664" value="#[vars.Currency]" regex="^(EUR|USD)?$" message="BAD_REQUEST"/>
		<sftp:read doc:name="Get Invoices File" doc:id="a077a211-3cdf-4fd9-8732-f09f95540baa" config-ref="SFTP_Config" path="upload/theu/invoices.json" outputMimeType="application/json"/>
		<ee:transform doc:name="Data Mapping&amp;Filter" doc:id="1dffb9be-4540-440e-944c-62c91f763167" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

fun timestampToDate(timestamp: Number) =
    (timestamp * 1000) as DateTime {unit: "milliseconds"}
    as Date {format: "yyyy-MM-dd"}



---
payload.data filter (vars.Currency == '' or upper($.currency) == vars.Currency)

    map (invoice) -> {
    id: invoice.id,
    total: sum(invoice.lines.data map (line) -> line.amount),
    currency: upper(invoice.currency),
    date: timestampToDate(invoice.created),
    customer: {
        id: invoice.customer,
        city: invoice.customer_address.city,
        country: invoice.customer_address.country,
        postalCode: invoice.customer_address.postal_code,
        email: invoice.customer_email,
        name: invoice.customer_name,
        phone: invoice.customer_phone
    },
    lineItems: invoice.lines.data map (line) -> {
        id: line.id,
        amount: line.amount
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Mapped Data" doc:id="ff1e7a8b-03ff-4b97-b9af-96c1f944ff85" variableName="MappedData"/>
		<logger level="INFO" message="get:\invoices:invoicessftp-config" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6aaaf7a3-8aeb-47f3-9f12-fe46fadc0b00" >
				<set-variable value="400" doc:name="httpStatus" doc:id="6d1d8f46-b25e-4fda-bdb0-52f1a90165b3" variableName="httpStatus"/>
				<set-variable value="BAD_REQUEST" doc:name="ErrorMessage" doc:id="dc655192-a79c-4bbd-b40c-556fd79ebf80" variableName="ErrorMessage"/>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\invoices\(id):invoicessftp-config">
		<set-variable value="#[attributes.uriParams.id]" doc:name="Id" doc:id="67e54553-84c1-4d6f-b931-3686f5da689a" variableName="Id"/>
		<sftp:read doc:name="Get Invoices File" doc:id="5f80a8c7-9b5e-4613-acea-506d407329c7" config-ref="SFTP_Config" path="upload/theu/invoices.json" outputMimeType="application/json" />
		<ee:transform doc:name="Data Mapping&amp;Filter" doc:id="12fba63e-ab98-431a-8ab8-017a50aa37dc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

fun timestampToDate(timestamp: Number) =
    (timestamp * 1000) as DateTime {unit: "milliseconds"}
    as Date {format: "yyyy-MM-dd"}



---
payload.data filter ($.id == vars.Id)

    map (invoice) -> {
    id: invoice.id,
    total: sum(invoice.lines.data map (line) -> line.amount),
    currency: upper(invoice.currency),
    date: timestampToDate(invoice.created),
    customer: {
        id: invoice.customer,
        city: invoice.customer_address.city,
        country: invoice.customer_address.country,
        postalCode: invoice.customer_address.postal_code,
        email: invoice.customer_email,
        name: invoice.customer_name,
        phone: invoice.customer_phone
    },
    lineItems: invoice.lines.data map (line) -> {
        id: line.id,
        amount: line.amount
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
        <set-variable value="#[if (isEmpty(payload)) [] else payload]" doc:name="Mapped Data" doc:id="31c74a1f-9b8d-4ee0-8a5a-7b990357a7cc" variableName="MappedData" />
		<validation:is-not-empty-collection doc:name="Invoice Found?" doc:id="fa63e5cc-4569-45f7-b160-2778778aadfb" values="#[vars.MappedData]"/>
		<logger level="INFO" message="get:\invoices\(id):invoicessftp-config" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2b5cb819-b5c6-4b64-9f15-d92909bd64e8" >
				<set-variable value="707" doc:name="httpStatus" doc:id="d467bd93-5fe9-4140-a1a9-cbcc3f0ae62b" variableName="httpStatus"/>
				<set-variable value='#["invoice not found for customer " ++ (vars.Id default "unknown")]' doc:name="ErrorMessage" doc:id="c9091ad6-59d8-41b1-88dc-7d0b0ebd2cd6" variableName="ErrorMessage"/>
				<set-variable value="Sorry" doc:name="ReasonPhrase" doc:id="1bb83a95-4ab7-4426-8358-3bb766703553" variableName="ReasonPhrase"/>
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
