src/main/mule/invoicessftp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:listener-config name="invoicessftp-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="invoicessftp-config" api="resource::4e7e9d23-3711-4be5-a59f-f45b7e8b0531:invoicessftp:1.0.5:raml:zip:invoicessftp.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <validation:config name="Validation_Config" doc:name="Validation Config" doc:id="cf0ec02d-06fb-4af5-9e4b-8e341e525b10" />
	<flow name="invoicessftp-main">
        <http:listener config-ref="invoicessftp-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase="#[vars.ReasonPhrase]">
                <http:body><![CDATA[#[output application/json --- vars.ErrorMessage]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="invoicessftp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\invoices:invoicessftp-config">
        <set-variable value="#[attributes.queryParams.currency default '']" doc:name="Currency" doc:id="310671a9-45dc-40fc-b24b-47d4766b4903" variableName="Currency" />
        <validation:matches-regex doc:name="Validate Query Params" doc:id="ce2fb39a-6506-497e-96e9-8f3394cb3664" value="#[vars.Currency]" regex="^(EUR|USD)?$" message="BAD_REQUEST" />
        <sftp:read doc:name="Get Invoices File" doc:id="a077a211-3cdf-4fd9-8732-f09f95540baa" config-ref="SFTP_Config" path="upload/theu/invoices.json" outputMimeType="application/json" />
        <ee:transform doc:name="Data Mapping&amp;Filter" doc:id="1dffb9be-4540-440e-944c-62c91f763167">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

fun timestampToDate(timestamp: Number) =
    (timestamp * 1000) as DateTime {unit: "milliseconds"}
    as Date {format: "yyyy-MM-dd"}



---
payload.data filter (vars.Currency == '' or upper($.currency) == vars.Currency)

    map (invoice) -> {
    id: invoice.id,
    total: sum(invoice.lines.data map (line) -> line.amount),
    currency: upper(invoice.currency),
    date: timestampToDate(invoice.created),
    customer: {
        id: invoice.customer,
        city: invoice.customer_address.city,
        country: invoice.customer_address.country,
        postalCode: invoice.customer_address.postal_code,
        email: invoice.customer_email,
        name: invoice.customer_name,
        phone: invoice.customer_phone
    },
    lineItems: invoice.lines.data map (line) -> {
        id: line.id,
        amount: line.amount
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <set-variable value="#[payload]" doc:name="Mapped Data" doc:id="ff1e7a8b-03ff-4b97-b9af-96c1f944ff85" variableName="MappedData" />
        <logger level="INFO" message="get:\invoices:invoicessftp-config" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6aaaf7a3-8aeb-47f3-9f12-fe46fadc0b00">
                <set-variable value="400" doc:name="httpStatus" doc:id="6d1d8f46-b25e-4fda-bdb0-52f1a90165b3" variableName="httpStatus" />
                <set-variable value="BAD_REQUEST" doc:name="ErrorMessage" doc:id="dc655192-a79c-4bbd-b40c-556fd79ebf80" variableName="ErrorMessage" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\invoices\(id):invoicessftp-config">
        <set-variable value="#[payload.id]" doc:name="Id" doc:id="67e54553-84c1-4d6f-b931-3686f5da689a" variableName="Id" />
        <sftp:read doc:name="Get Invoices File" doc:id="5f80a8c7-9b5e-4613-acea-506d407329c7" config-ref="SFTP_Config" path="upload/theu/invoices.json" outputMimeType="application/json" />
        <ee:transform doc:name="Data Mapping&amp;Filter" doc:id="12fba63e-ab98-431a-8ab8-017a50aa37dc">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

fun timestampToDate(timestamp: Number) =
    (timestamp * 1000) as DateTime {unit: "milliseconds"}
    as Date {format: "yyyy-MM-dd"}



---
payload.data filter ($.id == vars.Id)

    map (invoice) -> {
    id: invoice.id,
    total: sum(invoice.lines.data map (line) -> line.amount),
    currency: upper(invoice.currency),
    date: timestampToDate(invoice.created),
    customer: {
        id: invoice.customer,
        city: invoice.customer_address.city,
        country: invoice.customer_address.country,
        postalCode: invoice.customer_address.postal_code,
        email: invoice.customer_email,
        name: invoice.customer_name,
        phone: invoice.customer_phone
    },
    lineItems: invoice.lines.data map (line) -> {
        id: line.id,
        amount: line.amount
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <set-variable value="#[if (isEmpty(payload)) [] else payload]" doc:name="Mapped Data" doc:id="31c74a1f-9b8d-4ee0-8a5a-7b990357a7cc" variableName="MappedData" />
        <validation:is-not-empty-collection doc:name="Invoice Found?" doc:id="fa63e5cc-4569-45f7-b160-2778778aadfb" values="#[vars.MappedData]" />
        <logger level="INFO" message="get:\invoices\(id):invoicessftp-config" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2b5cb819-b5c6-4b64-9f15-d92909bd64e8">
                <set-variable value="707" doc:name="httpStatus" doc:id="d467bd93-5fe9-4140-a1a9-cbcc3f0ae62b" variableName="httpStatus" />
                <set-variable value="#[&quot;invoice not found for customer &quot; ++ (vars.Id default &quot;unknown&quot;)]" doc:name="ErrorMessage" doc:id="c9091ad6-59d8-41b1-88dc-7d0b0ebd2cd6" variableName="ErrorMessage" />
                <set-variable value="Sorry" doc:name="ReasonPhrase" doc:id="1bb83a95-4ab7-4426-8358-3bb766703553" variableName="ReasonPhrase" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\products:invoicessftp-config">
        <logger level="DEBUG" doc:name="Start Log" doc:id="95445ac1-d892-4ff1-9b30-efa32b0ba1b1" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "step": "Start " ++ flow.name ++ " flow",&#10;    "data": {&#10;        "business": {&#10;            &#10;        },&#10;        "technical": {&#10;            "payload": payload&#10;        }&#10;    }&#10;}]' category="sys-sftp"/>
		<set-variable value="#[attributes.queryParams.category]" doc:name="Set Category" doc:id="50e98e58-9208-4ca9-a783-8081f976a68b" variableName="category" />
		<sftp:read doc:name="Read Products File" doc:id="d37481b6-cee8-4c66-8ce7-114e99321e0e" config-ref="SFTP_Config" path="${workingDirectory}/products.csv" outputMimeType='text/csv; separator=","; header=true' />
		<ee:transform doc:name="Mapping Products Data" doc:id="9e8cf89b-f44c-4654-a85b-e88f4757ed90">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
import getListProducts from dwLibrairies::ProductsFunctions
---
getListProducts(payload, vars.category)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "step": "End " ++ flow.name ++ " flow",&#10;    "data": {&#10;        "business": {&#10;            &#10;        },&#10;        "technical": {&#10;            "payload": payload&#10;        }&#10;    }&#10;}]' doc:name="End Log" category="sys-sftp"/>
    </flow>
	<flow name="post:\products:application\json:invoicessftp-config">
		<logger level="DEBUG" doc:name="Start Log" doc:id="b40aeac4-db2e-47b8-9bdc-27f66a9a02cd" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "step": "Start " ++ flow.name ++ " flow",&#10;    "data": {&#10;        "business": {&#10;            &#10;        },&#10;        "technical": {&#10;            "payload": payload&#10;        }&#10;    }&#10;}]' category="sys-sftp" />
		<set-variable value="#[payload.id]" doc:name="Set Id" doc:id="0e0f5c46-6ec0-4c10-b5e3-11b8f87c6c2f" variableName="id" />
		<sftp:read doc:name="Read Products File" doc:id="f46e7071-f1ae-4ef9-980d-f2ee3e2c1e6d" config-ref="SFTP_Config" path="${workingDirectory}/products.csv" outputMimeType='text/csv; separator=","; header=true' target="FileContent" />
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;import getProductById from dwLibrairies::ProductsFunctions&#10;---&#10;// On vérifie si le produit existe (isEmpty != true)&#10;!isEmpty(getProductById(vars.FileContent default [], (vars.id default "") as String))]' doc:name="Is Product Exist" doc:id="c7a422b4-83df-41f0-b7e0-e850975179cb" variableName="IsProductExist" />
		<validation:is-false doc:name="Product Exist In The File?" doc:id="092a6696-ed4f-4aac-bc40-0f4a0df99cf9" config-ref="Validation_Config" expression="#[vars.IsProductExist == true]" message="NOT_ACCEPTABLE"/>
		<ee:transform doc:name="Product Data to ADD" doc:id="bf52432a-5f4a-4773-bdb3-ef19503be6aa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header=false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sftp:write doc:name="Add New Product" doc:id="7d33eaeb-acf3-4a0f-9965-26a76150f3d4" config-ref="SFTP_Config" path="${workingDirectory}/products.csv" mode="APPEND">
		</sftp:write>
		<set-variable value="201" doc:name="httpStatus" doc:id="631ee191-6c9a-4ca2-afbf-8cdcf5593455" variableName="httpStatus" />
		<logger level="DEBUG" doc:name="End Log" doc:id="705f7a86-ad48-4f17-9c10-a5ec552350dd" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "step": "End " ++ flow.name ++ " flow",&#10;    "data": {&#10;        "business": {&#10;            &#10;        },&#10;        "technical": {&#10;            "payload": payload&#10;        }&#10;    }&#10;}]' category="sys-sftp" />
    </flow>
	<flow name="post:\products\(id):invoicessftp-config">
		<logger level="DEBUG" doc:name="Start Log" doc:id="03ddecfd-925e-4132-86b2-c219cf366ea3" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "step": "Start " ++ flow.name ++ " flow",&#10;    "data": {&#10;        "business": {&#10;            &#10;        },&#10;        "technical": {&#10;            "payload": payload&#10;        }&#10;    }&#10;}]' category="sys-sftp" />
		<flow-ref doc:name="Check If Poduct Exist" doc:id="e9145deb-ef4d-42ca-8e81-987291df1ea0" name="sub-product-checkIfExist" />
		<ee:transform doc:name="Increase Stock +1" doc:id="d6aedd50-2dd2-480c-8167-5b1216ba3f73">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header=true
---
// On itère sur TOUT le fichier pour créer la nouvelle version
vars.FileContent map (product) -> {
    id: product.id,
    name: product.name,
    category: product.category,
    price: product.price,
    // On incrémente SEULEMENT si l'ID correspond
    stock: if (product.id as String == vars.id as String) 
                (product.stock as Number + 1) 
           else product.stock
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sftp:write doc:name="Update Products" doc:id="38faab7f-8b4a-4a36-9867-a8ac37f31570" config-ref="SFTP_Config" path="${workingDirectory}/products.csv" />
		<set-variable value="201" doc:name="httpStatus" doc:id="7ef60135-83e7-4806-9f7f-d8717e970224" variableName="httpStatus" />
		<logger level="DEBUG" doc:name="End Log" doc:id="3c678706-7ad7-44eb-9305-ab185a8ee0c6" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "step": "End " ++ flow.name ++ " flow",&#10;    "data": {&#10;        "business": {&#10;            &#10;        },&#10;        "technical": {&#10;            "payload": payload&#10;        }&#10;    }&#10;}]' category="sys-sftp" />
    </flow>
	<sub-flow name="sub-product-checkIfExist" doc:id="b6176a2b-d24d-4c54-a48a-79ceb26dc5ea">
		<logger level="DEBUG" doc:name="Start Log" doc:id="56674019-469a-4809-a041-0fb9a020a185" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "step": "Start " ++ flow.name ++ " flow",&#10;    "data": {&#10;        "business": {&#10;            &#10;        },&#10;        "technical": {&#10;            "payload": payload&#10;        }&#10;    }&#10;}]' category="sys-sftp" />
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Id" doc:id="fe642d94-f381-42b7-9b5d-3842813fbeae" variableName="id" />
		<sftp:read doc:name="Read Products File" doc:id="d43f9de3-f6f0-410f-9e05-9c54e5ce2885" config-ref="SFTP_Config" path="${workingDirectory}/products.csv" outputMimeType='text/csv; separator=","; header=true' target="FileContent" />
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;import getProductById from dwLibrairies::ProductsFunctions&#10;---&#10;// On vérifie si le produit existe (isEmpty != true)&#10;!isEmpty(getProductById(vars.FileContent default [], (vars.id default "") as String))]' doc:name="Is Product Exist" doc:id="5ccae297-ca21-4f23-a745-bf7070946643" variableName="IsProductExist" />
		<validation:is-true doc:name="Product Exist?" doc:id="3997a974-28e5-4298-922d-e745e8122354" expression="#[vars.IsProductExist == true]" message="NOT_FOUND"/>
		<logger level="DEBUG" doc:name="End Log" doc:id="8f6b9a93-cd63-49a3-9ca4-39a4881d5ee0" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "step": "End " ++ flow.name ++ " flow",&#10;    "data": {&#10;        "business": {&#10;            &#10;        },&#10;        "technical": {&#10;            "payload": payload&#10;        }&#10;    }&#10;}]' category="sys-sftp" />
	</sub-flow>
	<flow name="delete:\products\(id):invoicessftp-config">
		<logger level="DEBUG" doc:name="Start Log" doc:id="90c18d90-7881-40fa-ab31-acc0fd430dfc" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "step": "Start " ++ flow.name ++ " flow",&#10;    "data": {&#10;        "business": {&#10;            &#10;        },&#10;        "technical": {&#10;            "payload": payload&#10;        }&#10;    }&#10;}]' category="sys-sftp" />
		<flow-ref doc:name="Check If Poduct Exist" doc:id="b0a2119b-6ed6-4d1b-a5d3-f6d2277ab0f9" name="sub-product-checkIfExist"/>
		<set-variable value="#[attributes.queryParams.qty]" doc:name="Set qty" doc:id="60a2cf2e-6fb8-4d75-9aeb-158c16ae127c" variableName="qty"/>
        <choice doc:name="Choice" doc:id="588a8e34-f46d-41ef-bd77-e8acde67b738" >
			<when expression="#[vars.qty != null and vars.qty != 0]">
				<ee:transform doc:name="Filter on Product Stock Positif + Decrease stock" doc:id="3eb46329-ab91-4028-ba4a-84f42574c276" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=true
---
// 1. On crée d'abord la liste mise à jour
(vars.FileContent map (product) -> {
    id: product.id,
    name: product.name,
    category: product.category,
    price: product.price,
    stock: if (product.id as String == vars.id as String) 
                ((product.stock as Number default 0) - (vars.qty as Number default 0))
           else (product.stock as Number default 0)
}) 
// 2. ENSUITE on filtre le résultat de la parenthèse
filter (item) -> (item.stock > 0)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-payload value="#[%dw 2.0&#10;output application/csv header=true&#10;&#10;&#10;---&#10;// On garde tous les produits SAUF celui qui correspond à l'ID reçu&#10;vars.FileContent filter (product) -&gt; (product.id as String != vars.id)]" doc:name="Delete the product from File content" doc:id="8e3cb359-445d-4b50-ab8c-7f8115229f84" />
			</otherwise>
		</choice>
		<sftp:write doc:name="Delete Product or Edit Stock " doc:id="7fdc084f-6882-419f-a2d3-dd580d49c27d" config-ref="SFTP_Config" path="${workingDirectory}/products.csv" />
		<logger level="DEBUG" doc:name="End Log" doc:id="d3e52399-5586-4180-96c3-39d7a76a0d3e" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "step": "End " ++ flow.name ++ " flow",&#10;    "data": {&#10;        "business": {&#10;            &#10;        },&#10;        "technical": {&#10;            "payload": payload&#10;        }&#10;    }&#10;}]' category="sys-sftp" />
    </flow>
</mule>
